In [103]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g

In [104]:
scope = ['https://spreadsheets.google.com/feeds']
credentials = ServiceAccountCredentials.from_json_keyfile_name(r'C:\Users\libin\UCSF\Scripts\JupyterNotebooks\Jupyter-GoogleDrive-1587a93c5fd8.json', scope)
gc = gspread.authorize(credentials)

In [105]:
spreadsheet_key = '1GKZr9XQLRPVa9YDpXiJJddmTJgmTbSMYZPF7qvPJyf8' 
book = gc.open_by_key(spreadsheet_key)

In [106]:
initial_qc = book.worksheet("initial QC") 
raw_table = initial_qc.get_all_values()

In [107]:
rna_df = pd.DataFrame(raw_table[1:],columns=["sample_run", "length", "m_seq"])

In [108]:
rna_df.head()

              sample_run length m_seq
0       LM036_S18_R1_001  51 bp  33.6
1  LM037_S16_L006_R1_001  51 bp  73.2
2       LM044_S22_R1_001  51 bp  32.7
3  LM044_S23_L006_R1_001  51 bp  19.2
4  LM045_S24_L006_R1_001  51 bp  27.2

In [109]:
print ('total number of sequencing runs:', rna_df.shape[0])

total number of sequencing runs: 99

In [110]:
rna_df["m_seq"] = rna_df["m_seq"].astype("float")
low_qual = rna_df[rna_df["m_seq"] <= 0.5]
print ('number of low quality sequencing runs :', low_qual.shape[0])

number of low quality sequencing runs : 22

In [111]:
# push new dataframe to GoogleSheets
wks_name = 'low quality'

d2g.upload(low_qual, spreadsheet_key, wks_name, credentials=credentials, row_names=True)

In [112]:
# filter out low_qual and seq with extremely now reads number
low_qua_list = low_qual["sample_run"].tolist()

In [113]:
# print out lib name without quotes
print ("[{0}]".format(' '.join(map(str, low_qua_list))))

[LMA035_S77_L001_R1_001 LMA035_S77_L001_R2_001 LMA045_S86_L001_R1_001 LMA045_S86_L001_R2_001 LMA046_S87_L001_R1_001 LMA046_S87_L001_R2_001 LMA047_S88_L001_R1_001 LMA047_S88_L001_R2_001 LMA048_S89_L001_R1_001 LMA048_S89_L001_R2_001 LMA049_S90_L001_R1_001 LMA049_S90_L001_R2_001 LMA049_S98_L004_R1_001 LMA049_S98_L004_R2_001 LMA050_S91_L001_R1_001 LMA050_S91_L001_R2_001 LMA050_S99_L004_R1_001 LMA050_S99_L004_R2_001 LMA051_S92_L001_R1_001 LMA051_S92_L001_R2_001 LMA052_S93_L001_R1_001 LMA052_S93_L001_R2_001]

```bash
for i in LMA035_S77_L001_R1_001 LMA035_S77_L001_R2_001 LMA045_S86_L001_R1_001 LMA045_S86_L001_R2_001 LMA046_S87_L001_R1_001 LMA046_S87_L001_R2_001 LMA047_S88_L001_R1_001 LMA047_S88_L001_R2_001 LMA048_S89_L001_R1_001 LMA048_S89_L001_R2_001 LMA049_S90_L001_R1_001 LMA049_S90_L001_R2_001 LMA049_S98_L004_R1_001 LMA049_S98_L004_R2_001 LMA050_S91_L001_R1_001 LMA050_S91_L001_R2_001 LMA050_S99_L004_R1_001 LMA050_S99_L004_R2_001 LMA051_S92_L001_R1_001 LMA051_S92_L001_R2_001 LMA052_S93_L001_R1_001 LMA052_S93_L001_R2_001; do mv $i* low_quality/; done
```

In [114]:
merged = book.worksheet("merged") 
merged_table = merged.get_all_values()
merged_table_df = pd.DataFrame(merged_table[1:], columns=["sample_run", "length", "m_seq"])
merged_table_df["sample_name"] = merged_table_df["sample_run"].str.extract(r'(.+?)_')

In [115]:
merged_table_df.head()

  sample_run length m_seq
0   LM036_R1  51 bp  51.1
1   LM037_R1  51 bp  73.2
2   LM044_R1  51 bp  19.2
3   LM045_R1  51 bp  27.2
4   LM065_R1  51 bp  26.4

In [99]:
print ('total number of merged libraries (R1, R2):', merged_table_df.shape[0])

total number of merged libraries (R1, R2): 53

In [88]:
merged_101 = merged_table_df[merged_table_df["length"] == "101 bp"]

print(merged_101["sample_run"].tolist())

print("number of libraries with a read length of 101 bp:", len(merged_101["sample_run"].tolist()))

['LM118_R1', 'LM118_R2', 'LM119_R1', 'LM119_R2', 'LM120_R1', 'LM120_R2', 'LM121_R1', 'LM121_R2', 'LM122_R1', 'LM122_R2', 'LM124_R1', 'LM124_R2', 'LM125_R1', 'LM125_R2', 'LM126_R1', 'LM126_R2', 'LM134_R1', 'LM134_R2']
number of libraries with a read length of 101 bp: 18

In [87]:
merged_151 = merged_table_df[merged_table_df["length"] == "151 bp"]
print(merged_151["sample_run"].tolist())

print("number of libraries with a read length of 151 bp:", len(merged_151["sample_run"].tolist()))

['LMA045_R1', 'LMA045_R2', 'LMA046_R1', 'LMA046_R2', 'LMA047_R1', 'LMA047_R2', 'LMA048_R1', 'LMA048_R2', 'LMA049_R1', 'LMA049_R2', 'LMA050_R1', 'LMA050_R2', 'LMA051_R1', 'LMA051_R2', 'LMA052_R1', 'LMA052_R2']
number of libraries with a read length of 151 bp: 16